.wrapper {
    max-width: 1440px;
    height: 100vh;

    margin: auto;
}

.opacity-87 {
    opacity: 0.87;
}

.opacity-60 {
    opacity: 0.60;
}

.opacity-30 {
    opacity: 0.30;
}

.add-button {
    margin-top: 10px;
    display: flex;
    background: #467C46;
    height: 50px;
}

.add-button:hover {
    background: #417341;
}

@media screen and (max-width: 900px) {
    .wrapper {
        max-width: calc(100% - 10px);
    }
}
